/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #313036;
    color: white;
    padding: 5px 10px;
}

header .logo img {
    height: 50px;
    margin-left: 0;
    padding-left: 0px;
    flex-grow: 0;
}

.header-items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

header nav ul li {
    margin: 0 15px;
    justify-content: flex-end;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    justify-content: right;
}

header nav ul li a:hover {
    color: #00b8d4;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #444444; /* Slightly lighter background for the search bar */
  padding: 5px 10px;
  border-radius: 5px;
}

.search-bar input {
  background-color: transparent;
  border: none;
  color: white;
  padding: 5px 10px;
  width: 200px; /* Width of the search input */
  border-radius: 5px;
}

.search-bar input::placeholder {
  color: #bbb; /* Light gray placeholder text */
}

.search-bar button {
  background-color: transparent;
  border: none;
  color: white;
  padding: 5px;
  cursor: pointer;
}

.search-bar button i {
  font-size: 18px; /* Search icon size */
}

.language-switcher {
  color: white;
  font-size: 20px;
  background-color: #313036;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.language-switcher:hover {
  color: white;
  background-color: #444;
}

.register-btn {
  background-color: #75b522bb;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.register-btn:hover {
  background-color: #009FB8;
  transform: scale(1.05);
}

.register-btn:active {
  background-color: #007C8F;
}


/* Header */
footer {
  background-color: #313036;
  color: white;
  padding: 20px 0;
  text-align: center;
}

footer .footer-content ul {
  list-style: none;
  margin-top: 10px;
}

footer .footer-content ul li {
  margin: 5px 0;
}

footer .footer-content ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

footer .footer-content ul li a:hover {
  color: #00b8d4;
}