* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(/src/pildid/login_test.jpg) no-repeat;
    background-size: cover;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.navigation a{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid black;
    border-radius: 20px;
    backdrop-filter: blur(20px);
}